@{
    ViewBag.Title = "Classifiers";
}

<div class="container-fluid">
    <div class="col-md-2">
        @Html.Partial("_SideBar")
    </div>
    <div class="col-md-10">
        <p></p>
        <h3>Choose classifier in left handed menu.</h3>
    </div>
</div>

