body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*footer zone*/
#footer {    
    bottom: 0;    
}
/*- doesn`t work:*/
#footer well {
    background-color: deepskyblue;
}

/*make cursor become pointer*/
#linkedtable td:hover {
    cursor:pointer;
}

/*increase font size on top navbar - doesn`t work*/
#topnavbar .nav {
    font: italic;
    font-size: 8px;
}

/*side-bar styles zone - doesn`t work*/
.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}

    #sidebar.active {
        margin-left: -250px;
    }

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
/*end side-bar styles zone*/