body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*classifiers index view set properties to well*/
#classifiersindexpage {
    margin-top: 30px;
}

.classifiersIndexText {
    vertical-align: middle;
    text-align: center;
    font-style: normal;
    font-size: 20px;
}
/*end of classifiers index view zone*/

/*footer zone*/
#footer {
    bottom: 0;
    background-color: #66b3ff;
    position: fixed;
    width: 98.5%;
}

/*make cursor become pointer*/
#linkedtable td:hover {
    cursor:pointer;
}

#sideBarDropDownToggle {
    color: darkblue;
}

.ajaxLinks {
    color: darkblue;
}

.actionLink {
    color: black;
    font-size: 16px;
}

.icon-bar {
    color: black;
}

/*TODO: replace with bootstrap theme*/
#topNavBar {
    background-color: #66b3ff;
    color: black;
}

/*increase font size on top navbar*/
#topNavBarText {
    font-size: 26px;
    color: chocolate;
}

/*#topNavBar {
    background-color: deepskyblue;
}*/

/*side-bar styles zone - doesn`t work*/
/*.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: 100vh;
}*/

/*#sidebar.active {
    margin-left: -150px;
}*/

/*a[data-toggle="collapse"] {
    position: relative;
}*/

/*.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}*/
/*end side-bar styles zone*/